$primary-color: (
    "1000": #248eff,
    "875": #429dff,
    "750": #449fff,
    "625": #5dabff,
    "500": #79bafe,
    "375": #97c9fe,
    "250": #b8dafe,
    "125": #d7eaff,
    "0": #eff7ff
);

$secondary-color: ();

$other-color: (
    "text-black": #000000,
    "text-white": #ffffff
);

$font-family: "Open Sans", sans-serif;

$typo: (
    "base-size": 12px
);
