@use "../components/buttons" as *;

section.nav-menu div.container {
    display: flex;
    justify-content: space-between;

    nav {
        display: flex;

        a {
            @include button;

            border-radius: 0;
        }
    }
}
